<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
">

    <context:component-scan base-package="com.hz"></context:component-scan>
    <!--对静态资源的处理-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>
    <!--自定义类型转换器的时候不要忘记加上conversion-service属性！！！！！-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/page/"></property>
        <property name="suffix" value=".jsp"></property>
        <property name="order" value="10"></property>
    </bean>

    <!--配置自定义类型转换器-->
    <bean id="myUserConverter" class="com.hz.practice.converter.MyUserConverter"></bean>
    <!--
    注意，如果在entity中使用了DateTimeFormat,
    就不能使用ConversionServiceFactoryBean
    应该使用FormattingConversionServiceFactoryBean

    自定义类型转换器的时候不要忘记在mvc:annotation-driven标签加上conversion-service属性！！！！！
    -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="myUserConverter"></ref>
            </set>
        </property>
    </bean>

    <!--定义文件上传的解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSize" value="1024000"></property>
    </bean>

    <!--定义拦截器-->
    <mvc:interceptors>
        <bean class="com.hz.practice.interceptor.MyInterceptor1"></bean>
        <bean class="com.hz.practice.interceptor.MyInterveptor2"></bean>
    </mvc:interceptors>
</beans>